#text p, #text h2{
    margin: 12px;
}
#name{
    border-radius: 5px;
}
#email{
    border-radius: 5px;
}
#subject{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#message{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#img1{
    float: left;
    margin: 50 50 50px;
}
body{
    background-image: linear-gradient(black, rgb(121,223,180));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    color:white;
    text-align: center;
}

h2{
    text-align: left;
    color:white;
}

p{
    color:whitesmoke;
}
label{
    color: white;
}
button{
    color: white;
    background-color: grey;
}
span{
    color: whitesmoke;
}
ul{
    color: white;
}
#products{
    border-collapse: collapse;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


#products td, #products th{
    border: 1px solid;
    padding: 8px;
    color: whitesmoke;
}

#products tr:nth-child(odd){
    background-color: rgb(118,118,118);
}

#products th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(84,167,132);
    color: white;
}

#info span{
    font-size: 125%;
}

#info ul{
    list-style-type: square;
}

footer{
    margin: auto 0;
    text-align: center;
    font-size: small;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    align-content: space-evenly;
}

a{
    color: white;
    text-decoration: none;
}

.flex-container > a{
    color: white;
    width: 5000px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border-collapse: collapse;
    border-color: darkslategray;
    border: 1px solid;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
#navbar li {
    float: left;
}
  
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
#navbar li a:hover:not(.active) {
    background-color: rgb(121,223,180);
  }
.active {
    background-color: rgb(121,223,180);
}